body{

    padding: 0px;
    margin: 0px;

}
.container{
    margin: 0 auto;
}
header{
    background: url('./image/rectangle-17.jpg') no-repeat center top/cover;
    /*font-size: 100%;*/
    height: 965px;
}
.heading{
    display: flex;
    flex-direction: row;
    padding-top: 59px;
    justify-content: space-between;
    margin: 0 67px;
    }
.heading a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
}
nav {
    margin: 0;
}
.menu{
    padding: 0;
    margin: 0;
}
ul{
    display: flex;

}
li {
    list-style-type: none;
    margin: 0 29px;
}
.titles{
    margin-left: 67px;
    margin-right: 67px;
}
.title_first{
    font-size: 100px;
    color: #fff;
    text-align: center;
    margin-top: 196px;

}
h1{
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin: 15px;
}
.button{
    background: #325DFF;
    color:#fff;
    border-radius: 36px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 59px auto 0 auto;
    text-decoration: none;
    text-align: center;

    font-weight: bold;
    font-size: 18px;
}
.block{
    display: flex;
}
.block .declaration{
    width: 100vw;
}
.block .title_first{
    color: #000000;
    font-size: 50px;
    margin-top: 113px;
}
.block h2{
    color:#707070;
    font-size: 16px;
}
.block .button{
    background: #325DFF;
    color:#fff;
    border-radius: 36px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 59px auto 0 auto;
    text-decoration: none;
    text-align: center;

    font-weight: bold;
    font-size: 18px;

}
.block img{
    width: 100%;
    flex-shrink: 1;}

.card{
    background: #CECECE;
}
/*.card_titles{*/
/*    margin-top: 92px;*/
/*}*/
.title_first {
    font-size: 100px;
    color: #000000;
    text-align: center;
    margin: 0;
    padding-top: 92px;
}
.card h2{
    color:#707070;
    font-size: 30px;
    margin-top: 32px;


}
.card_items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: 92px;
    margin-right: 92px;
    margin-bottom: 30px;
}
.card_items:last-child{
    margin-bottom: 0;
}
.card_item{
    background: white;
    width: 371px;
    height: 374px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 30px;
    text-align: center;
    }
.card_item:last-child{
    margin-right: 0;
}
.card_item img{
    margin-top: 68px;
}
.card_item h3{
    margin-bottom: 38px;
    font-size: 18px;
    color: #000000;
}

.card_item p{
    margin-left: 64px;
    margin-right: 64px;
    line-height: 1.25em;
    color: #707070;
}
#play{
    background: url("./image/Image.png") no-repeat center top/cover;
    height: 601px;
}
.play_row{
    text-align: center;
    padding-top: 215px;
    margin-left: 92px;
    margin-right: 92px;

}
.play_row h2{
    margin-top: 30px;
    margin-bottom: 33px;
    font-size: 75px;
    color: white;
}
.play_row p{
    color: white;
    font-size: 25px;
}


/*}*/
/*.card{*/
/*    border: black solid 2px;*/
/*}*/
/*.card_item{*/
/*    border: red solid 2px;*/
/*}*/

